/** Please add your Custom CSS here **/
.contact-container {
    padding: 0px 30px;
}

#map {
    height: 500px;
}

footer{
    padding: 2px;
}

.footer2-container{
    padding: 5px;
}


.centered{
    text-align: center;
    margin-bottom: 0px;
}

.footer-menu ul li {
    padding: 0 0 1px;
}

blockquote, h6, p{
	font-size: 18px;
}

body{
	font-size: 14px;
}